/* nav effects n animations */

.nav-link::before {
  content: '';
  position: absolute;
  bottom: -5px; 
  left: 0;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, transparent 0%, #facc15 70%, #facc15 100%);
  border-radius: 100px;
  transition: width 0.4s ease;
  transform: scaleY(0.9); 
  transform-origin: left;
}

.nav-link:hover::before {
  width: 100%;
  transform: scaleY(1.8);
}

/* scrollbar styling  */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #facc15;
    border-radius: 100px;
}

